@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Teste para vaga na empresa-> <a href="https://smarthint.co">Smart Hint</a>.</p>
</div>
